extends layout

block content
  h1 TwitNews
  p Sign In with Twitter to get relevant news and save time
  
  hr

  if !user
    a.btn.btn-block.btn-twitter.btn-social(href='/login')
      i.fa.fa-twitter
      | Sign in with Twitter
  else
    a.btn.btn-block.btn-twitter.btn-social(href='/api/twitter')
      | Go to Dashboard
